In [ ]:
###Importing Libraries

In [2]:
import pandas as pd

In [4]:
dataset = pd.read_csv('Mall_Customers.csv')

In [5]:
###1.Displays 5 data from dataset

In [7]:
dataset.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [8]:
###2.Check last 5 rows form our dataset

In [9]:
dataset.tail()

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

In [10]:
###3.Find shape of our dataset

In [12]:
dataset.shape

(200, 5)

In [13]:
print('Number of rows'.format{},dataset.shape[0])

SyntaxError: invalid syntax (Temp/ipykernel_16968/519227104.py, line 1)